
html, body{
    height: 100%;
    background-color: rgb(233, 232, 232);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contenedor{
    display:flex;
}
.elemento{
    width:600;
}
.onMouseOver{
    stroke-width: 2px;
    
}
svg {
    border: 1px solid #000000;
    background-color: white;
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
}
text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;  
}
.graph {
    stroke: orangered;
    stroke-width: 2;
    fill: lightsalmon;
}
rect:hover {
    fill: orangered;
}
.axis text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
    font-weight: lighter;
}