
/*div {
    display: flex;
  }
  
  .contenedor{
    width: 49%;
  }

  .contenedor{
      display: flex;
  }

  svg{
      width: 49%;
  }*/
html, body{
    height: 100%;
    background-color: gainsboro;
}

.contenedor{
    display:flex;
}
.elemento{
    width:49%;
    height: 100%;
    

}
/*
#map {
    width: 800px;
    height: 400px;
  }*/

.onMouseOver{
    stroke-width: 2px;
    
}

/*#map {width: 48%;}

#graph {width: 48%;}
*/
svg {
    border: 1px solid #000000;
    background-color: white;
}
rect {
    stroke: SteelBlue;
    stroke-width: 2;
    fill: LightSteelBlue;
}
rect:hover {
    fill: SteelBlue;
}

title {
    
    color: violet;
}