
html, body{
    height: 100%;
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    display:flex;
}
.elemento{
    width:49%;
    height: 100%;  
}
/*
#map {
    width: 800px;
    height: 400px;
  }*/

.onMouseOver{
    stroke-width: 2px;
    
}

svg {
    border: 1px solid #000000;
    background-color: white;
}
/*
rect {
    stroke: SteelBlue;
    stroke-width: 2;
    fill: LightSteelBlue;
}
rect:hover {
    fill: SteelBlue;
}*/

 .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    
}
text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10;
}
.graph {
    stroke: orangered;
    stroke-width: 2;
    fill: lightsalmon;
}
rect:hover {
    fill: orangered;
}
.axis text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8;
}